.button {
  &[data-variant="primary"] {
    background-color: red;
  }
  &[data-variant="secondary"] {
    background-color: #ffffff18;
    &:hover {
      background-color: #ffffff26;
    }
  }
  &[data-variant="subtle"] {
    &:hover {
      background-color: #ffffff26;
    }
  }
}
