:root {
  --academic-primary: #4056f4;
  --academic-primary-light: #ebeefd;

  --academic-green: #1e8f00;
  --academic-green-light: #eaf9ee;

  --academic-orange: #dd9c2c;
  --academic-orange-light: #ffedc8;

  --academic-grey: #edeef1;
  --academic-grey-light: #f9fafb;
  --academic-grey-dark: #d8dbdf;

  --academic-text: #25272c;
  --academic-text-secondary: #5b616e;
  --academic-text-tertiary: #6b7280;
  --academic-text-disabled: #8e95a2;

  --academic-white: #ffffff;
  --academic-blue: #d4e6ff;
  --academic-background: #f9fafb;
}
